@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
    .text-shadow {
        text-shadow: 0 2px 4px rgba(0, 0, 0, .1);
    }
}

.animate-hue {
    animation: hue 4s ease-in-out infinite alternate;
}

.crt {
    background-image:
        repeating-linear-gradient(transparent, transparent 1px, #0005 1px, #0005 2px),
        repeating-linear-gradient(90deg, #f001 0, #0f01 1px, #00f1 2px);
    backdrop-filter: brightness(1.2);
    box-shadow: 0 0 64px #000 inset;
    animation: scroll 0.5s linear infinite;
}

.fullscreen:fullscreen {
    width: 100vw !important;
    height: 100vh !important;
    display: initial;
}

.fullscreen:fullscreen canvas {
    width: 100% !important;
    height: 100% !important;
    object-fit: contain;
}

@keyframes hue {
    0% {
        filter: hue-rotate(0deg);
    }

    100% {
        filter: hue-rotate(360deg);
    }
}

@keyframes scroll {
    0% {
        background-position-y: 0;
    }

    100% {
        background-position-y: 2px;
    }
}
