@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
    .text-shadow {
        text-shadow: 0 2px 4px rgba(0, 0, 0, .1);
    }
}

.animate-hue {
    animation: hue 4s ease-in-out infinite alternate;
}

@keyframes hue {
    0% {
        filter: hue-rotate(0deg);
    }

    100% {
        filter: hue-rotate(360deg);
    }
}
