@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        /* font-family: 'Anonymous Pro', sans-serif; */
    }
}

@layer components {
    .text-shadow {
        text-shadow: 0 2px 4px rgba(0, 0, 0, .1);
    }
}

.crt {
    background-image:
    repeating-linear-gradient(transparent, transparent 1px, #0005 1px, #0005 2px),
    repeating-linear-gradient(90deg, #f002 0, #0f02 1px, #00f2 2px);
    backdrop-filter: brightness(1.2);
    box-shadow: 0 0 64px #000 inset;
    animation: scroll 0.5s linear infinite;
}

@keyframes scroll {
    0% {
        background-position-y: 2px;
    }
    
    100% {
        background-position-y: 0;
    }
}
